@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

.active a {
    background-color: burlywood;
    border-radius: 15px;
    color: brown;
}

body {
    background: beige;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 0;
    background: white;
    height: 2px;
}

header img{
    margin-top: 5px;
    border-radius: 8px;
}

header {
    text-align: center;
    color: black;
}

header .judul {
    font-size: 17pt;
}

header .deskripsi{
    font-size: 11pt;
}

.wrap{
    width: 950px;
    margin:25px auto;
}

nav.menu ul{
    overflow: hidden;
    color: white;
    list-style: none;
    float: left;
    padding: 0px;
    width: 650px;
    margin: 0 0 0;
    background: burlywood;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
    -moz-box-shadow:1px 1px 1px 0px rgba(204,204,204,0.55);
    box-shadow: 5px 5px 5px 0px rgba(148,137,137,0.55);
    border-radius: 15px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

nav.menu ul li {
    margin: 15px;
    float: left;
    flex: 1;
}

nav.menu ul a {
    padding: 10px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-decoration: none;
    text-align: center;
}

.active a{
    color: brown;
}

nav.menu ul a:hover{
    text-decoration: underline;
    border-radius: 15px;
    background: white;
    /*margin: 0.02px;*/
    color: burlywood;
}

nav.menu ul a:active{
    color: brown;
}

.sidebar{
    float: right;
    width: 275px;
}

.widget-pict{
    border-radius: 8px;
}

.sidebar .widget {
    padding: 25px;
    margin: 0 0 25px;
    background: white;
    border-bottom: 2px solid white;
    transform: all 0.5s ease;
    border-radius: 15px;
    border: 1px solid orange;
}

.sidebar .widget:hover{
    border-bottom: 4px solidb brown;
    box-shadow: 5px 5px 5px 0px brown;
}

.sidebar .widget h2 {
    padding: 0;
    margin: 0 0 15px;
    color: burlywood;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.sidebar .widget p {
    font-size: 14px;
}

.sidebar .widget p:last-child{
    margin:0;
}

.blog {
    float: left;
}

.widget .faq-selengkapnya{
    color: black;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 700;
}

.faq-selengkapnya:hover{
    margin-left: 10px;
}

.conteudo{
    width: 600px;
    padding: 25px;
    margin: 25px auto;
    background: white;
    transition: all 0.5s ease ;
    border: 1px solid beige;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    border-radius: 15px 25px;
    background-color: rgb(240,240,240)
}

.conteudo:hover{
    border-bottom: 4px solid brown;
    box-shadow: 5px 5px 5px 0px rgba(148,137,137,0.55);
}

.conteudo img{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    font-weight: normal;
    color: bisque;
    font-family: georgia;
}

.conteudo p:last-child{
    margin: 0;
}

.conteudo .continue-lendo{
    color: black;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 700;
}

.conteudo .continue-lendo:hover{
    margin-left: 10px;
}

.post-info{
    float: right;
    font-size: 12px;
    margin: -10px 0 15px;
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    .header{
        position: inherit;
    }
    .wrap{
        width: 90%;
        margin: 25px auto;
    }
    .sidebar{
        width: 100%;
        margin: 25px 0 0;
        float: right;
    }
    .sidebar .widget{
        padding: 5%;
    }
    nav.menu ul{
        float: inherit;
    }
    nav.menu ul li{
        float: inherit;
        margin: 0;
    }
    nav.menu ul a{
        padding: 15px;
        font-size: 16px;
        border-top: 1px solid brown;
        border-bottom: 1px solid brown;
    }
    .blog{
        width: 90%;
    }
    .conteudo{
        float: inherit;
        margin: 0 auto 25px;
        width: 101%;
        border: 1px solid bisque;
        padding: 5%;
        background: white;
    }
    .conteudo img{
        max-width: 110%;
        margin: 0 0 25px -5%;
        min-width: 110%;
    }
    .conteudo .continue-lendo:hover{
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {
    nav.menu ul a{
        padding: 15px;
        font-size: 14px;
    }
    .sidebar{
        display: none;
    }
    .post-info{
        display: none;
    }
    .conteudo{
        margin: 25px auto;
    }
    .conteudo img{
        margin: -5% 0 25px -5%;
    }
}

